<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mail</title>
  </head>
  <body>
    <table
      cellpadding="0"
      cellspacing="0"
      width="600px"
      height="700px"
      align="center"
      style="border: 1px solid #eaeaea; margin-top: 40px"
    >
      <tbody>
        <tr align="center">
          <td style="width: 400px; height: 250px">
            <img src=
            "https://media.discordapp.net/attachments/883232750021263370/1052913869644906558/logo.png" alt="image.png" width="400" height="250" />
          </td>
        </tr>
        <tr align="center">
          <td
            style="
              line-height: 40px;
              height: 80px;
              font-family: 'Noto Sans';
              font-style: normal;
              font-size: 28px;
              box-shadow: 0px 20px 20px 1px rgb(208 208 208 / 25%);
            "
          >
            <b>회원가입</b>
          </td>
        </tr>
        <tr align="center">
          <td
            style="
              font-weight: 400;
              font-size: 16px;
              line-height: 34px;
              height: 100px;
            "
          >
            아래 인증하기 버튼을 클릭하면 이메일 인증이 완료됩니다.
          </td>
        </tr>

        <tr align="center">
          <td style="height: 200px">
            <a href="{{ url }}"
              style="
                text-decoration: none;
                display: block;
                line-height: 44px;
                height: 44px;
                width: 182px;
                border-radius: 50px;
                cursor: pointer;
                background: #ffffff;
                border: 2px solid #aad1a0;
                border-radius: 50px;
                color: #618259;
              "
            >
              인증하기
          </a>
          </td>
        </tr>
        <tr>
          <td
            style="
              height: 200px;
              box-shadow: 0px -20px 20px 1px rgb(208 208 208 / 25%);
            "
          ></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>